
@media only screen and (max-width: 1700px) {
    .client-objects {
        width: 70%;

    }
}

@media only screen and (max-width: 1400px) {
    .client-objects {
        width: 70%;
    }

    #header-section .row{
        max-width: 80%;
    }

}

/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }

    .items_featured_services,
    .row { padding: 0 2%; }

    .items_featured_services {
        flex-direction: row; 
        width: 80%; 

    }

    .about-items{
        width: 80%;
    }

    .client-objects {

        width: 80%; 

    }
    /*  .main-nav {

    margin-right: 50px;

}*/

    #header-section .row{
        max-width: 90%;
    }

}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px 0; }

    .long-copy {
        width: 70%;
        margin-left: 10%;
    }

    .steps-box { margin-top: 10px; }
    .steps-box:last-child { margin-top: 10px; }
    .works-steps { margin-bottom: 40px; }
    .works-step:last-of-type { margin-bottom: 60px; }

    .app-screen { width: 50%; }

    .icon-small { 
        width: 17px;
        margin-right: 5px;
    }

    .city-feature { font-size: 90%; }

    .plan-box {
        width: 100%;
        margin-left: 0%;
    }

    .plan-price { font-size: 250%; }
    .contact-form { width: 80%; }

    .items_featured_services {
        flex-direction: row; 
        width: 100%; 
    }
    .featured-services .box {
        margin-top: -30px;

    }
    .contact-info{
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap; 
        align-items: stretch; 
        justify-content: center; 
        margin-top: 20px;
        width: 75%; 
        margin: 0 auto;
    }

    .information-contact{
        flex: 1 0 30%;
        flex-grow: 1;
        padding: 10px;
    }

    .section-header .long-copy{
        text-align: center;
        line-height: 145%;
        width: 70%;
        margin-left: 15%;
    }



    /*Team page*/
    .flex-container-team{
        width: 100%; 
    }
    .team_top{
        flex: 1 0 40%;
    }





}
/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 992px) {
    .items_featured_services {
        flex-direction: column; 
    }
    #header-section .row,
    #header-team .row{
        max-width: 100%;
    }


}


/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    section { padding: 30px 0; }

    .row,
    .hero-text-box { padding: 0 4%; }
    .col { 
        width: 100%;
        margin: 0 0 4% 0;
    }


    .main-nav { display: none; }

    .mobile-nav-icon {display: inline-block;}

    .main-nav {
        float: left;
        margin-top: 30px;
        margin-left: 25px;
    }

    .main-nav li {
        display: block;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }

    .sticky .main-nav { margin-top: 10px; }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 10px 0; }
    .sticky .mobile-nav-icon { margin-top: 10px; }
    .sticky .mobile-nav-icon i { color: #555; }



    h1 { font-size: 180%; }
    h2 { font-size: 150%; }

    .long-copy {
        width: 100%;
        margin-left: 0%;
    }

    .app-screen { width: 40%; }
    .steps-box:first-child { text-align: center; }

    .works-step div {
        height: 40px;
        width: 40px;
        margin-right: 15px;
        padding: 4px;
        font-size: 120%;
    }

    .works-step { margin-bottom: 20px; }
    .works-step:last-of-type { margin-bottom: 20px; }

    .items_featured_services {
        flex-direction: column; 
        width: 105%; 
        margin-left: -10px;
    }

    .about-items{
        flex-direction: column; 
    }
    .about-item{
        margin-top: -20px
    }

    .section-services .row {

        width: 90%;
    }
    #about .row {
        width: 90%;
    }
    #about .long-copy {
        text-align: center;
    }
    .items_services {
        flex-direction: column; 
        margin-left: 100px;
        width: 70%;
    }

    .counters{
        margin-left: 80px;


    }
    .facts_counter{
        flex: 1 0 35%;
        flex-grow: 0;
    }

    .client-objects {
        width: 50%;

    }


}



/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    section { padding: 25px 0; }
    .contact-form {width: 100%; }

    .logo {
        height: 120px;
        margin-top: 0; 
    }

    .items_featured_services {
        flex-direction: column; 
        width: 100%; 
        margin-left: -10px;

    }

    .about-items{
        flex-direction: column; 
        width: 100%; 

    }
    .about-item{
        margin-top: -20px
    }

    .items_services {
        flex-direction: column; 
        margin-left: 10px;
        width: 95%;
    }

    .counters{
        margin-left: 50px;
    }

    .facts_counter{
        flex: 1 0 40%;
        flex-grow: 1;
    }
    .client-objects {
        width: 100%;

    }
    .contact-info{
        flex-direction: column; 
    }

    .section-services .row{
        width: 100%;
    }

    .testimonial-item p{

    }
    #testimonials .testimonial-item {
        max-width: 95%;

    }
#header-section #logo h1,
#header-team #logo h1 {                                                               
    font-size: 14px;

}

    /*Team page*/
    .flex-container-team{
        width: 100%; 
    }
    .team_top{
        flex: 1 0 60%;
    }
}

