/*
Orange color: #e67e22
*/

/*-----------------------------------------------------*/
/* BAIC SETUP */
/*-----------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body{
    background-color: #fff;
    color:#555;
    font-family: 'Lato','Arial',sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/*-----------------------------------------------------*/
/* REUSABLE COPMPONENTS */
/*-----------------------------------------------------*/

.row {
    /* max-width: 1140px; */

    margin: 0 auto;
}
section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}
/* --------- HEADINGS --------- */

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;


}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* --------- PARAGRAPHS --------- */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}
.box p {
    font-size: 90%;
    line-height: 145%;
}

/* --------- ICONS --------- */
.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;

    /*secerets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -4px;
}

/* --------- LINKS --------- */

a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/* --------- BUTTONS --------- */

.btn:link,
.btn:visited, 
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;

}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #e67e22;
    border:1px solid #e67e22;
    color: #fff;
    margin-right: 15px;

}
.btn-ghost:link,
.btn-ghost:visited{
    border:1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type_submit]:active {
    background-color: #cf6d17;

}

.btn-full:hover,
.btn-full:active,
input[type=submit] {
    border:1px solid #cf6d17;

}
.btn-ghost:hover,
.btn-ghost:active{
    border:1px solid #cf6d17;
    color: #fff;
}

/*-----------------------------------------------------*/
/* HEADER */
/*-----------------------------------------------------*/

#header-section {
    background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.7)),to(rgba(0, 0, 0, 0.7))), url(img/office1.jpg);
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/office1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}


#header-section .row,
#header-team .row
{
    max-width: 70%;
}



#header-team{
   /* position: fixed;*/
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    transition: all 0.5s;
    /* box-shadow: 0 2px 2px #efefef; */
    z-index: 9999;

}
.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

}

.logo {
    height: 200px;
    width: auto;
    float: left;
    margin-top: -40px;
}

.logo-black { 
    display: none;
    height: 50px;;
    width: auto;
    float: left;
    margin: 5px 0;
}

/*
Nya testing
*/


#header-section #logo {
    float: left;
}
#header-team #logo {                                                                 /* fixa denna också*/
    float: left;
}
#header-section #logo h1,
#header-team #logo h1 {                                                                 /* fixa denna också*/
    font-size: 34px;
    margin-top: 40px;
    padding: 0;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    font-weight: 0;
    text-transform: none;
}



#logo a:link,
#logo a:visited {
    border-bottom: none;
}

#logo a:hover,
#logo a:active {
    border-bottom: none;
}

#header-section #logo h1 a, #header-section #logo h1 a:hover,
#header-team #logo h1 a{                                                                 /* fixa denna också*/
    color: #fff;
    padding-left: 10px;
    border-left: 4px solid #e67e22;
}

@media (max-width: 768px) {
    #header-section #logo h1,
    #header-team #logo h1{                                                                 /* fixa denna också*/
        font-size: 28px;
    }
    #header-section #logo img {
        max-height: 40px;
    }  
}

@media (min-width: 1024px) {
    #header-section #logo,
    #header-team #logo {                                                                /* fixa denna också*/
        padding-left: 60px;
    }
}

/*
Slut test logo
*/

/* Main navi */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
    /* margin-right: 400px;*/

}

.nav__tocustom{
    margin-top: 18px;
}

.nav-logo-team{
    display: block; 
    margin-top: -30px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active {
    /* border-bottom: 2px solid #e67e22; */
    color: #e67e22;
    transition: color 0.2s;
}

/* Mobile navi */
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;

}

#header-team .mobile-nav-icon{
    margin-top: 10px;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}



/* Sticky navi */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.98);*/
    background: rgba(0, 0, 0, 0.9);
    transition: all 0.5s;
    /* box-shadow: 0 2px 2px #efefef; */
    z-index: 9999;
}

.sticky .main-nav {margin-top: 18px;}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 17px 0;
    color: #fff;
}

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active {
    /* border-bottom: 2px solid #e67e22; */
    color: #e67e22;
    transition: color 0.2s;
}


.sticky #logo { 
    display: block; 
    margin-top: -30px;
}

/*-----------------------------------------------------*/
/* Featured Services Section */
/*-----------------------------------------------------*/
.featured-services {
    background: #000;

}

.featured-services .box {
    padding: 30px 20px;
    margin-top: -70px;
}

.featured-services .box-bg {
    background-image: linear-gradient(0deg, #000000 0%, #242323 50%, #000000 100%);

}

.featured-services i {
    color: #e67e22;
    font-size: 48px;
    display: inline-block;
    line-height: 1;
}

.featured-services h4 {
    font-weight: 400;
    margin: 15px 0;
    font-size: 18px;
    color: #fff;

}

.featured-services p {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 0;
}

.items_featured_services {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    align-items: stretch; 
    justify-content: center; 
    margin-top: 20px;
    width: 60%; 
    margin: 0 auto;

}
.featured_service_item{
    flex: 1 0 30%;
    flex-grow: 1;
    padding: 10px;

}

/* Services Section
--------------------------------*/
.section-services {
    background: #fff;
    background-size: cover;
    padding: 60px 0 40px 0;

}
.section-services .long-copy{
    text-align: center;
}
.section-services .row {
    width: 95%;
}

.section-services .box {
    margin-bottom: 30px;
    min-height: 250px;
}

.section-services .icon {
    float: left;
}

.section-services .icon i {
    color: #e67e22;
    font-size: 36px;
    line-height: 1;
    transition: 0.5s;
}

.section-services .title {
    margin-left: 60px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.section-services .title a {
    color: #111;
}

.section-services .box:hover .title a {
    color: #e67e22;
}

.section-services .description {
    font-size: 14px;
    margin-left: 60px;
    line-height: 24px;
    margin-bottom: 0;
}

.service_item {
    flex: 1 0 30%;
    flex-grow: 1;
    padding: 10px;

}
.items_services{
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    align-items: stretch; 
    justify-content: center; 
    margin-top: 20px;
    width: 70%; 
    margin: 0 auto;
    margin-top: 40px;

}

/* About Us Section
--------------------------------*/
#about {
    /* background: url("../img/about-bg.jpg") center top no-repeat fixed;*/
    background-color: #969696;
    background-size: cover;
    padding: 60px 0 40px 0;
    position: relative;
}

#about .long-copy{
    text-align: center;
}
#about .row {
    width: 95%;
}

#about::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.92);
    z-index: 9;
}

#about .container {
    position: relative;
    z-index: 10;
}

#about .about-col {
    background: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
}

#about .about-col .img {
    position: relative;
}

#about .about-col .img img {
    border-radius: 4px 4px 0 0;
}

#about .about-col .icon {
    width: 64px;
    height: 64px;
    padding-top: 8px;
    text-align: center;
    position: absolute;
    background-color: #e67e22;
    border-radius: 50%;
    text-align: center;
    border: 4px solid #fff;
    left: calc( 50% - 32px);
    bottom: -30px;
    transition: 0.3s;
}

#about .about-col i {
    font-size: 36px;
    line-height: 1;
    color: #fff;
    transition: 0.3s;
}

#about .about-col:hover .icon {
    background-color: #fff;
}

#about .about-col:hover i {
    color: #e67e22;
}

#about .about-col h2 {
    color: #000;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    padding: 0;
    margin: 40px 0 12px 0;
}

#about .about-col h2 a {
    color: #000;
}

#about .about-col h2 a:hover {
    color: #e67e22;
}

#about .about-col p {
    font-size: 14px;
    line-height: 24px;
    color: #333;
    margin-bottom: 0;
    padding: 0 20px 20px 20px;
}

.about-item{
    flex: 1 0 30%;
    flex-grow: 1;
    padding: 10px;
}

.about-items{
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    align-items: stretch; 
    justify-content: center; 
    margin-top: 20px;
    width: 70%; 
    margin: 0 auto;
    margin-top: 40px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}

#about .about-col .img {
    position: relative;
}

#about .about-col .img img {
    border-radius: 4px 4px 0 0;

}


/* Facts Section
--------------------------------*/
#facts {
    background: #fff;
    background-size: cover;
    padding: 60px 0 40px 0;
}

#facts .long-copy {
    text-align: center;

}

#facts .container {
    position: relative;
    z-index: 10;
}

#facts .counters span {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 48px;
    display: block;
    color: #e67e22;
}

#facts .facts-img {
    text-align: center;
    padding-top: 30px;
}

.facts_counter{
    flex: 1 0 20%;
    flex-grow: 0;
    padding: 10px;
}

.counters{
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    align-items: stretch; 
    justify-content: center; 
    width: 100%; 
    margin: 0 150px;
    margin-top: 40px;
}
/* Clients Section
--------------------------------*/
#clients {
    padding: 60px 0;

}
/*
.client-objects {
width: 50%;
margin: 0 auto;
}*/
.client-objects {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    align-items: stretch; 
    justify-content: center; 
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    width: 50%;
}

#clients .item{
    flex: 1 0 20%;
    flex-grow: 1;
    padding: 10px;

}


#clients img {
    max-width: 100%;
    opacity: 0.5;
    transition: 0.3s;
    padding: 15px 0;
}

#clients img:hover {
    opacity: 1;
}

#clients .owl-nav, #clients .owl-dots {
    margin-top: 5px;
    text-align: center;
}

#clients .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
}

#clients .owl-dot.active {
    background-color: #e67e22;
}

/* Testimonials Section
--------------------------------*/
#testimonials {
    padding: 60px 0;

}

#testimonials .section-header {
    margin-bottom: 40px;
}

#testimonials .testimonial-item {
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
}

#testimonials .testimonial-item .testimonial-img {
    width: 120px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin: 0 auto;
}

#testimonials .testimonial-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;

    text-transform:none;
}

#testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0 0 15px 0;
}

#testimonials .testimonial-item .quote-sign-left {
    margin-top: -15px;
    padding-right: 10px;
    display: inline-block;
    width: 37px;
}

#testimonials .testimonial-item .quote-sign-right {
    margin-bottom: -15px;
    padding-left: 10px;
    display: inline-block;
    max-width: 100%;
    width: 37px;
}

#testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 auto 15px auto;
}

@media (min-width: 992px) {
    #testimonials .testimonial-item p {
        width: 80%;
    }
}

#testimonials .owl-nav, #testimonials .owl-dots {
    margin-top: 5px;
    text-align: center;
}

#testimonials .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
}

#testimonials .owl-dot.active {
    background-color: #e67e22;
}

/*-----------------------------------------------------*/
/* FEATURES */
/*-----------------------------------------------------*/
.section-features .long-copy {
    margin-bottom: 30px;
}
/*-----------------------------------------------------*/
/* MEALS */
/*-----------------------------------------------------*/
.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;

}

.meals-showcase li{
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.meal-photo img:hover {
    opacity: 1;
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
}

/*-----------------------------------------------------*/
/* HOW IT WORKS */
/*-----------------------------------------------------*/

.section-steps {
    background-color: #f4f4f4;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step:last-of-type {
    margin-bottom: 80px;
}

.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.btn-app:link,
.btn-app:visited{
    border: 0;

}


.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/*-----------------------------------------------------*/
/* CITIES */
/*-----------------------------------------------------*/

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}

/*-----------------------------------------------------*/
/* TESTIMONIALS */
/*-----------------------------------------------------*/

.section-testimonials {
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.8)),to(rgba(0, 0, 0, 0.8))), url(img/back-customers.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
    background-size: cover;
    color :#fff;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/*-----------------------------------------------------*/
/* SIGNUP */
/*-----------------------------------------------------*/

.section-plans {
    background-color: #f4f4f4;
}
.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef;

}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}

.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}
.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}
.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

/*-----------------------------------------------------*/
/* SIGNUP */
/*-----------------------------------------------------*/

.contact-form {
    width: 60%;
    margin: 0 auto;
}
input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

.form-messages {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
}


.success { background-color: rgba(38, 191, 68, 0.8); }

.error {background-color: rgba(209, 46, 46, 0.8); }



*:focus {outline: none;}


/* Contact Section
--------------------------------*/
#contact {
    /*
    padding: 60px 0;
    background-color: #fff;
    */
        background-color: #f8f8f8;
    background-size: cover;
    padding: 60px 0 40px 0;
    position: relative;
}

.contact-info{
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    align-items: stretch; 
    justify-content: center; 
    margin-top: 20px;
    width: 60%; 
    margin: 0 auto;
}

.information-contact{
    flex: 1 0 30%;
    flex-grow: 1;
    padding: 10px;
}

#contact .contact-info {
    margin-bottom: 20px;
    text-align: center;
}

#contact .contact-info i {
    font-size: 48px;
    display: inline-block;
    margin-bottom: 10px;
    color: #e67e22;
}

#contact .contact-info address, #contact .contact-info p {
    margin-bottom: 0;
    color: #000;
}

#contact .contact-info h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #999;
}

#contact .contact-info a {
    color: #000;
}

#contact .contact-info a:hover {
    color: #e67e22;
}

#contact .contact-address, #contact .contact-phone, #contact .contact-email {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    #contact .contact-address, #contact .contact-phone, #contact .contact-email {
        padding: 20px 0;
    }
}

@media (min-width: 768px) {
    #contact .contact-phone {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }
}

#contact .form #sendmessage {
    color: #e67e22;
    border: 1px solid #e67e22;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

#contact .form #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

#contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
    display: block;
}

#contact .form .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
}

#contact .form input, #contact .form textarea {
    padding: 10px 14px;
    border-radius: 0;
    box-shadow: none;
    font-size: 15px;
}

#contact .form button[type="submit"] {
    background: #e67e22;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    cursor: pointer;
}

#contact .form button[type="submit"]:hover {
    background: #13a456;
}

.co {
    margin-left:auto;
    margin-right: auto;

}


/*-----------------------------------------------------*/
/* FOOTER */
/*-----------------------------------------------------*/

footer {
    background-color: #333; 
    padding: 50px;
    font-size: 80%;
}
.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited{
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}


.ion-social-facebook:hover {
    color: #3b5998;
}
.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}
.ion-social-instagram:hover {
    color: #517fa4;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}

/*-----------------------------------------------------*/
/* Team Page */
/*-----------------------------------------------------*/
.team_top{
    flex: 1 0 25%;
    flex-grow: 1;
    padding: 10px;
}
.flex-container-team{
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    align-items: stretch; 
    justify-content: center; 
    margin-top: 20px;
    width: 60%; 
    margin: 0 auto;

}

#team .section-header{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 70px;
}
.long-copy-one {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    text-align: center
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/*
tes
*/

#team .member {
    text-align: center;
    margin-bottom: 5px;
    /* background: #000;*/
    position: relative;
}

#team .member .member-info {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
}

#team .member .member-info-content {
    margin-top: -50px;
    transition: margin 0.2s;
}

#team .member:hover .member-info {
    background: rgba(0, 0, 0, 0.7);
    visibility: visible;
    transition: 0.4s;
}

#team .member:hover .member-info-content {
    margin-top: 0;
    transition: margin 0.4s;
}

#team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
}

#team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #fff;
}

#team .member .social {
    margin-top: 15px;
}

#team .member .social a {
    transition: none;
    color: #fff;
}

#team .member .social a:hover {
    color: #e67e22;
}

#team .member .social i {
    font-size: 18px;
    margin: 0 2px;
}

/*-----------------------------------------------------*/
/* animations */
/*-----------------------------------------------------*/

.js--wp-1,
.js--wp-2,
.js--wp-3{
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-4 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-1 .animated,
.js--wp-2 .animated,
.js--wp-3 .animated{
    opacity: 1;
}





